.points{
  width:88%;
}

.notation{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  height: fit-content;
  background-color: var(--background);
}