<mat-form-field appearance="standard" class="shadow-elements" id="faux">
    <mat-label>Faux</mat-label>
    <input id="notaF" matInput value="{{notationNumF}}" type="number">
</mat-form-field>
<mat-form-field appearance="standard" class="shadow-elements" id="ab">
    <mat-label>Assez Bien</mat-label>
    <input id="notaAB" matInput value="{{notationNumAB}}" type="number">
</mat-form-field>
<mat-form-field appearance="standard" class="shadow-elements" id="tb">
    <mat-label>Très Bien</mat-label>
    <input id="notaTB" matInput value="#{{notationNumTB}}" type="number">
</mat-form-field>
