<!--
<mat-form-field appearance="standard" class="shadow-elements">
  <mat-label>Faux</mat-label>
  <input id="F" matInput value="0" type="number">
</mat-form-field>

<mat-form-field appearance="standard" class="shadow-elements">
  <mat-label>Assez Bien</mat-label>
  <input id="AB" matInput value="0" type="number">
</mat-form-field>

<div class="shadow-elements">
  <mat-label>Très Bien</mat-label>
  <input id="TB" matInput value="0" type="number">
</div>
-->

<div class="champ-question shadow-elements">
  <mat-form-field appearance="standard" id="question">
    <mat-label>Faux</mat-label>
    <input matInput type="number">
  </mat-form-field>
</div>

<div class="champ-question shadow-elements">
  <mat-form-field appearance="standard" id="question">
    <mat-label>Assez Bien</mat-label>
    <input matInput type="number">
  </mat-form-field>
</div>

<div class="champ-question shadow-elements">
  <mat-form-field appearance="standard" id="question">
    <mat-label>Très Bien</mat-label>
    <input matInput type="number">
  </mat-form-field>
</div>
