.mat-card {
  text-align: center;
  border-radius: 0px;
  user-select: pointer;
  height: 2rem;

  mat-card-title {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2rem;
    padding-left: 5px;

    &.selected {
      border-left: solid #3F51B5 4px;

      :not(&) {
        color: lighten(black,50%);
      }
    }
  }
}
