:host {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;

  div {
    width: 100%;
  }
}

.reponse {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.delete {
  background-color: darkred;
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;

  &::content {
    font-size: 1.5em;
  }

  &:hover {
    background-color: rgb(175, 4, 4);
  }
}

::ng-deep.selected {
  .mat-form-field-label {
    color: #7CE73B;
    font-weight: bold;
  }
}