.points{
  width:88%;
}


p{text-align: center;}


img{
  width:2rem;
}

mat-form-field{
  width: 80%;
}

.reponse,.notation,.add-question{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  height: fit-content;
  background-color: var(--background);
}