<div class="notation shadow-elements">
  <mat-form-field appearance="standard" class="points">
    <mat-label>Points</mat-label>
    <input id="nota" matInput type="number">
  </mat-form-field>
</div>

<div class="rep">
  <mat-card-title>Réponses</mat-card-title>
  <mat-divider></mat-divider>
</div>

<div class="reponses">
  <div *ngFor="let reponse of question?.reponses; let index = index" class="reponse shadow-elements">
    <mat-form-field appearance="standard">
      <mat-label>Réponse {{index+1}}</mat-label>
      <input matInput value="{{reponse.texte}}">
    </mat-form-field>
    <mat-checkbox class="example-margin" [(ngModel)]="reponse.isRight"></mat-checkbox>
  </div>
</div>
<mat-card class="shadow-elements add-question loading_button">
  <mat-icon>add_circle</mat-icon>
</mat-card>
