<div>
  <div *ngFor="let reponse of question?.reponses; let index = index" class="reponses">
    <div class="reponse">
      <mat-form-field [ngClass]="{'selected': reponse.isRight}" appearance="outline">
        <mat-label>Réponse {{index}}</mat-label>
        <input matInput value="{{reponse.texte}}">
      </mat-form-field>

      <mat-card class="delete">&#10006;</mat-card>
    </div>
  </div>
  <app-creation-add></app-creation-add>
</div>

<div>
  <mat-form-field appearance="outline" id="notation">
    <mat-label>Notation</mat-label>
    <input id="nota" matInput type="number">
  </mat-form-field>
</div>