<mat-card>
  <div class="div1">

  </div>
  <div class="div2">
    <mat-form-field appearance="outline" id="question">
      <mat-label>Question?</mat-label>
      <input matInput placeholder="ma question?" value="{{selectedQuestion.texte}}">
    </mat-form-field>
  </div>
  <div class="div3">
    <mat-form-field appearance="outline" id="type">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedQuestion.typedequestion">
        <mat-option *ngFor="let selectedChoix of choix" [value]="selectedChoix.value">
          {{selectedChoix.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="not">
    <mat-card-title>Notation</mat-card-title>
    <mat-divider></mat-divider>
  </div>
  <div class="div4">
    <app-creation-question-defaut *ngIf="selectedQuestion.typedequestion ==='multiple'" [question]="selectedQuestion">
    </app-creation-question-defaut>
    <app-creation-question-numerique *ngIf="selectedQuestion.typedequestion ==='numerique'">
    </app-creation-question-numerique>
    <app-creation-question-ouverte *ngIf="selectedQuestion.typedequestion === 'ouverte'">
    </app-creation-question-ouverte>
  </div>
</mat-card>
