<mat-card>
  <button [disabled]=this.saving (click)="saveQCM()"> Sauvegarder </button>

  <app-separator> Informations </app-separator>

  <div class="champ-type shadow-elements">
    <mat-form-field appearance="standard" id="type">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedQuestion.typedequestion">
        <mat-option *ngFor="let selectedChoix of choix" [value]="selectedChoix.value">
          {{selectedChoix.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="champ-question shadow-elements">
    <mat-form-field appearance="standard" id="question">
      <mat-label>Titre</mat-label>
      <input matInput [(ngModel)]="selectedQuestion.texte">
    </mat-form-field>
  </div>

  <app-separator> Notation </app-separator>

  <app-creation-question-defaut *ngIf="selectedQuestion.typedequestion ==='multiple'" [question]="selectedQuestion">
  </app-creation-question-defaut>
  <app-creation-question-numerique *ngIf="selectedQuestion.typedequestion ==='numerique'">
  </app-creation-question-numerique>
  <app-creation-question-ouverte *ngIf="selectedQuestion.typedequestion === 'ouverte'">
  </app-creation-question-ouverte>
</mat-card>
