<div class="main shadow-elements">
  <div class="titre shadow-elements">
    <mat-form-field appearance="standard" class="option">
      <mat-label>Titre du QCM</mat-label>
      <input matInput [(ngModel)]="qcm.titre" placeholder="Ex: RO INFA1">
    </mat-form-field>
  </div>

  <div class="options">
    <div class="entete-div shadow-elements">
      <mat-form-field appearance="standard" class="option">
        <mat-label>Texte d'entête du QCM</mat-label>
        <input matInput [(ngModel)]="qcm.entete" placeholder="Ex: Contrôle de Maths">
      </mat-form-field>
    </div>

    <div class="duree shadow-elements">
      <mat-form-field appearance="standard" class="option">
        <mat-label>Durée (min)</mat-label>
        <input matInput type="number" min="1" value="60">
      </mat-form-field>
    </div>

    <div class="melanger shadow-elements">
      <div class="option">
        <mat-checkbox [(ngModel)]="qcm.isRandomized"> Mélanger les questions </mat-checkbox>
      </div>
    </div>
  </div>

  <table *ngIf="qcm.categories.length > 0" mat-table [dataSource]="dataSource" class="shadow-elements">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom de la catégorie </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre de question sélectionné</th>
      <td mat-cell *matCellDef="let element"> {{element.questions.length}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Nombre de question total de la catégorie</th>
      <td mat-cell *matCellDef="let element"> {{element.questions.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
