:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .recent{
    width: 80%;

    h1 {
      border-bottom: solid 2px #B2B4B7;

      &, i{
        color: #3F51B5;
      }
    }

    #recents {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      li {
        list-style: none;
        width: 15rem;
        gap: 1rem;
      }
    }
  }
}
