.main{
  margin-top: 1rem;
  padding: 3rem;
  background-color: white;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.entete-div,.duree,.melanger{
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: var(--background);
  width: 70%;
  position: relative;
}

.duree{
  margin-left: 10px;
}

.melanger{
  margin-right: 10px;
}

#entete,#duree,#melanger{
  width: 85%;
}

input{
  text-transform: capitalize;
}

.center{
  display: flex;
  justify-content: space-around;
}

.table_params{
  text-align: justify ;
  overflow:hidden;
  background-color: var(--background);
  width: 70%;
}
