/* You can add global styles to this file, and also import other style files */
.custom-dialog-container .mat-dialog-container {
  padding: 0;
  margin: 0;
}
:root{
--background: #f6f7f8;
--white: #FFFFFF;
--black:#000000;
--primary: #3F51B5;
--on-primary: #7384E2;
--secondary: #B2B4B7;
--good: #00B74A;
--error: #EB5945;
--warning: #F6BB42;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Roboto, "Tradesman", sans-serif; background-color: var(--background)}
.curseur{
  cursor: pointer;
}
.errorMessage{
  background-color: var(--error);
  font-size: larger;
}
.successMessage{
  background-color: var(--good);
}

.shadow-elements{
  border-radius: 30px !important; 
  box-shadow: 7px 7px var(--primary) !important;
}

.loading_button{
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);
    transition: all 1.2s;
    z-index: -1;
  }
  &:hover {
    transition: all 1.2s;
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}