<div class="tab">
  <div class="tab-top">
    <app-creation-tab-title [title]="'QUESTIONS'" (click)="onQuestions()">
    </app-creation-tab-title>
    <app-creation-tab-title [title]="'PARAMETRES'" (click)="onParametres()">
    </app-creation-tab-title>
    <app-creation-tab-title [title]="'EDITION'" (click)="onEdition()">
    </app-creation-tab-title>
  </div>
  <div class="tab-bottom">
    <mat-progress-bar class="progress" mode="determinate" value="{{progress}}"></mat-progress-bar>
  </div>
</div>

<app-creation-questions *ngIf="step === 'questions'" [qcm]="qcm"></app-creation-questions>
<app-creation-parametres *ngIf="step === 'parametres'"></app-creation-parametres>
<app-creation-editions *ngIf="step === 'edition'"></app-creation-editions>