<div class="tab">
  <div class="tab-top shadow-elements">
    <app-creation-tab-title [title]="'questions'" [running]="running"  (click)="onQuestions()" class="questions" >
    </app-creation-tab-title>
    <app-creation-tab-title [title]="'parametres'" [running]="running"(click)="onParametres()" class="parametres">
    </app-creation-tab-title>
    <app-creation-tab-title [title]="'edition'"  [running]="running" (click)="onEdition()" class="edition"> 
    </app-creation-tab-title>
  </div>
</div>

<app-creation-questions *ngIf="running === step.QUESTIONS" [qcm]="qcm"></app-creation-questions>
<app-creation-parametres *ngIf="running === step.PARAMETRES" [qcm]="qcm"></app-creation-parametres>
<app-creation-editions *ngIf="running === step.EDITION" [qcm]="qcm"></app-creation-editions>