<div class="information">
  <div class="header">
    <h2>Mon profil</h2>
    <i *ngIf="!isModifying" class="fa-solid fa-pen-to-square fa-2x" (click)="modify()"></i>
    <i *ngIf="isModifying" class="fa-solid fa-check fa-2x" (click)="save()"></i>
  </div>
  <div class="info">
    <img src="https://avatars.dicebear.com/api/identicon/{{user.id}}.svg?background=%23d5d6d9"/>
    <div *ngIf="!isModifying" class="coordonnes">
      <div class="meslabel">
        <label for="nom">Nom d'utilisateur :</label>
        <p id="username">{{user.username}}</p>
      </div>
      <div class="meslabel">
        <label for="nom">Nom :</label>
        <p id="nom">{{user.nom}}</p>
      </div>
      <div class="meslabel">
        <label for="prenom">Prenom :</label>
        <p id="prenom">{{user.prenom}}</p>
      </div>
      <div class="meslabel">
        <label for="prenom">Email :</label>
        <p id="email">{{user.email}}</p>
      </div>
    </div>

    <div *ngIf="isModifying" class="coordonnes">
      <mat-form-field appearance="outline">
        <mat-label for="username">Nom d'utilisateur :</mat-label>
        <input matInput type="text" class="username" value="{{user.username}}" [(ngModel)]="user.username"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="nom">Nom :</mat-label>
        <input matInput type="text" class="nom" value="{{user.nom}}" [(ngModel)]="user.nom"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="prenom">Prenom :</mat-label>
        <input matInput type="text" class="prenom" value="{{user.prenom}}" [(ngModel)]="user.prenom"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label for="email">Email :</mat-label>
        <input matInput type="text" class="email" value="{{user.email}}" [(ngModel)]="user.email"/>
      </mat-form-field>
    </div>
  </div>
</div>
<form class="password" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <h2>Modifier mon mot de passe</h2>
  <mat-form-field appearance="outline">
    <mat-label>Mot de passe actuel</mat-label>
    <input matInput [type]="hidePassword[0] ? 'password' : 'text'" required formControlName="current_password">
    <button type="button" mat-icon-button matSuffix (click)="hidePassword[0] = !hidePassword[0]" tabindex="-1">
      <mat-icon>{{hidePassword[0] ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput [type]="hidePassword[1] ? 'password' : 'text'" required formControlName="password">
    <button type="button" mat-icon-button matSuffix (click)="hidePassword[1] = !hidePassword[1]" tabindex="-1">
      <mat-icon>{{hidePassword[1] ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirmer mot de passe</mat-label>
    <input matInput [type]="hidePassword[2] ? 'password' : 'text'" required formControlName="password_confirmation">
    <button type="button" mat-icon-button matSuffix (click)="hidePassword[2] = !hidePassword[2] "tabindex="-1">
      <mat-icon>{{hidePassword[2] ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <small *ngIf="passwordForm.hasError('noMatch')" class="password-error">
    Les mots de passes ne correspondent pas
  </small>

  <small *ngIf="passwordError" class="password-error">
    {{passwordError}}.
  </small>
  <button type="submit" class="submit-button">Modifier le mot de passe</button>
</form>
